<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>{{ id }}</id>
    <version>{{ version }}</version>
    <title>{{ title }}</title>
    <authors>{{ authors }}</authors>
    <!-- <owners></owners> -->
    <!-- <licenseUrl></licenseUrl> -->
    <!-- <projectUrl></projectUrl> -->
    <!-- <iconUrl></iconUrl> -->
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>{{ description }}</description>
    <!-- <summary>{{ summary }} </summary> -->
    <!-- <releaseNotes>{{ release_notes }}</releaseNotes> -->
    <copyright>See copyright from installer</copyright>
    <tags>{{ tags }}</tags>
    <!-- <bugTrackerUrl></bugTrackerUrl> -->
    <!-- <docsUrl></docsUrl> -->
    <!-- <mailingListUrl></mailingListUrl> -->
    <!-- <packageSourceUrl></packageSourceUrl> -->
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>
</package>